<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
    <title>{{ settings.title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/dist/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/images/favicon/favicon-16x16.png">

    <link rel="stylesheet" href="/dist/app.css">

    {% block head %}{% endblock %}
</head>
<body class="font-sans">
    <div id="app" class="flex flex-col min-h-screen">
        {% set links = collections.nav_links%}

        {% block main_header %}
            <header class="bg-gray-200">
                <div class="container mx-auto py-8">
                    <div class="flex justify-between items-center">
                    
                        <p class="font-bold py-2"><a href="/" class="hover:text-gray-700">{{settings.title}}</a></p>
                        <nav>
                            {% for link in links %}
                                <a class="py-2 ml-4 border-b border-transparent hover:border-gray-700 hover:text-gray-700" href="{{link.url}}">{{ link.label }}</a>
                            {% endfor %}
                        </nav>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="flex-1">
            {% block main %}
                <main>{{ content | safe }}</main>
            {% endblock %}
        </div>

        {% block footer %}
        <footer class="bg-gray-200 text-center p-2 text-xs uppercase tracking-widest text-gray-700">
            {{settings.title}} &copy; 2019
        </footer>
        {% endblock %}
    </div>
    <script src="/dist/app.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>