{% extends "base.njk" %}

{% block main %}
    <main>
        <div class="container mx-auto py-12">
            {% block header %}
                <header class="py-8 border-b mb-8">
                    <h1 class="text-3xl">{{title}}</h1>
                </header>
            {% endblock %}

            {% block content %}
            <div class="longform">
                {{ content | safe }}
            </div>
            {% endblock %}

            {% block after_content %}{% endblock %}
        </div>
    </main>
{% endblock %}